* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f9;
  line-height: 1.6;
}

.container {
  max-width: 100%;
  margin: 0;
}

.menu {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  margin-bottom: 15px;
}

.logo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.logo h1 {
  font-size: 28px;
  margin-top: 10px;
}

.logo p {
  font-size: 18px;
  color: #777;
}

.redes-sociais {
  list-style: none;
  padding: 10px;
}

.redes-sociais li {
  display: inline-block;
  margin: 0 15px;
}

.redes-sociais a {
  text-decoration: none;
  color: #18a6b1;
  font-weight: bold;
}

main {
  width: 100%;
}



.bio,
.habilidades,
.projetos,
.contato,
.cursos,
.formacao,
.experiencia {
  margin: 25px;
}


.contato {
  margin-bottom: 7rem!important;
}


h2 {
  font-size: 24px;
  color: #18a6b1;
  margin-bottom: 20px;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
}

.projetos .projeto {
  margin-bottom: 20px;
}

.projetos .projeto h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.projetos .projeto p {
  margin-bottom: 10px;
}

.projetos .projeto a {
  text-decoration: none;
  color: #fff;
  background-color: #18a6b1;
  padding: 10px 20px;
  border-radius: 5px;
}

.projetos .projeto a:hover {
  background-color: #139196;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #18a6b1;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}